<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page </title>
    <script src="https://cdn.tailwindcss.com">
    </script>
</head>
<body class="bg-gradient-to-br from-blue-900 to-blue-600">
    <nav class=" mx-16 p-6">
        <div class="flex items-left justify-between ">
                <img class=" h-6 sm:h-9 pr-10 md:p-0" src="nav_logo.png" />
        </div>
        </nav>
                <div class="container flex flex-col-reverse md:flex-row items-center py-10 px-6 mx-auto lg:mx-16 ">
                    <div class="flex flex-col mb-20 space-y-10  lg:w-4/5">
                        <h1 class="max-w-md text-4xl font-serif font-bold text-center
                        mt-20 
                        md:text-5xl md:text-left lg:text-6xl text-white">
                          Anytime Anyplace Find Your Crew   
                        </h1>
                        <h2 class="max-w-lg text-md font-bold text-slate-50 font-sans text-center md:text-3xl md:text-left">
                          Join Events, Ask For Help and Travel with People
                        </h2>
                        <div class="flex justify-center md:justify-start">
                
                            <a href="#"
                                class=" p-3 px-8 pt-2 text-white bg-black rounded-full baseline hover:bg-blue-400">LOGIN</a>
                        </div>
                    </div>
            
                    <div class="lg:w-1/2 ">
                <img src="3Dimage.png" class="" alt="">
            </div>
        </div>
        <div class="flex h-30 flex-col lg:flex-row  p-3 lg:mx-16 mt-48">
            <div class="w-80 h-72  rounded-xl overflow-hidden border-3 shadow-md mt-6 mb-6 mx-auto  bg-slate-50">
                <img class="h-24 w-1/4 mx-28 rounded-full" src="card1.png" alt="">
                <div class="px-6 py-4">
                  <div class="font-mono font-bold text-xl mb-2 text-center">Find your Companion</div>
                  <p class="text-gray-700 text-base font-arial">
                    Get companions from your nearby location within easy and quick time and allows you to connect based on interests.
                  </p>
                </div>
              </div>
              <div class="w-80 h-72  rounded-xl overflow-hidden border-2 shadow-md mb-6 mt-6 mx-auto bg-slate-50">
                <img class="w-1/4 h-20 mx-28 mt-2" src="card2.png" alt="">
                <div class="px-6 py-8">
                  <div class="font-bold text-xl mb-2 text-center font-mono ">Connect and Interact</div>
                  <p class="text-gray-700 text-base font-arial">
                   Explore the network of communication with your companions and plan your activities
                  </p>
                </div>
              </div>
              <div class="w-80 h-72 rounded-xl overflow-hidden border-2 shadow-md mb-6 mt-6 mx-auto bg-slate-50">
                <img class=" h-24 w-1/4 mx-28 rounded-full" src="card3.png" alt="">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2 mt-4 text-center font-mono ">Easy and Secure</div>
                  <p class="text-gray-700 text-base font-arial">
                    Mitra is a webapp which makes accessing more convienient.Better experience in mobile devices and ensures safety.
                  </p>
                </div>
              </div> 
          </div>
        </div>
</body>
</html>